.user{
  @extend .pure-form;
  button{
    @extend .button-link, .font-color-light;
  }

  &.not-editing{
    input[type],
    select{
      background-color: transparent;
      border-color: transparent;
      &:hover{
        border-color: $nord-grey-light;
        background-color: $nord-white;
      }
    }
    &:hover{
      button{
        @extend .font-color-regular;
      }
    }    
  }

  &.editing{
    background-color: $nord-blue-strong; 
    input[type],
    select{
      border-color: $nord-grey-light;
      background-color: $nord-white;
    }
    button{
      @extend .button-link, .font-color-white;
    }
  }

  &.deleted{
    @extend .warning;
    td{
      padding-left: 1.2rem;
    }
    button{
      @extend .font-color-white;
    }
  }

}

.user-actions{
  @extend .text-right;
}

.user-edit,
.user-save{
  width: 4rem;
}