
*{
  font-family: $font-family-regular !important;
}

body{
  @extend .font-color-regular, .font-size-regular;
}

main{
  max-width: $layout-max-width;
  margin: 0 auto;
}

h1{
  @extend .font-weight-light; 
}

form{
  @extend .pure-form;
}

input[type="submit"]{
  @extend .pure-button-primary;
}

button,
input[type="submit"]{
  @extend .pure-button, .font-color-regular;
}

table{
  width:100%;
  border: none;
  @extend .pure-table;

  tr{
    &:nth-child(odd){
      background-color: $nord-blue-light;
    }
  }

  td{
    border: none;
  }

  thead{
    background: none;
    tr{
      &:nth-child(odd){
        background: none;
      }
    }
  }

  th{
    border: none;
    @extend .font-color-regular, .font-weight-regular;
  }


}

