
body{
  font-size: $font-size-regular;
}

main{
  max-width: $layout-max-width;
  margin: 0 auto;
}

button,
input[type="submit"]{
  @extend .pure-button;
}

form{
  @extend .pure-form;
}

table{
  @extend .pure-table;
}