.font-size-regular{
  font-size: $font-size-regular;
} 

.font-size-small{
  font-size: $font-size-small;
}

.font-color-regular{
  color: $font-color-regular;
}
.font-color-light{
  color: $font-color-light;
}

.font-weight-light{
  font-weight: 300;
}

.font-weight-regular{
  font-weight: 400;
}

.font-weight-bold{
  font-weight: 700;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}



.pure-button-primary{
  background-color: $nord-blue-strong;
  color: $nord-white;
}

.button-link{
  background: none;
  border: none;

  &:hover{
    color: $nord-blue-strong;
  }

  &:active{
    color: $nord-blue-strong;
    box-shadow: none;
    transform: translateY(0.1rem);
  }
}

.form-inline{
  label{
    position: absolute;
    color: transparent;
  }
  input,
  select{
    margin-right: 0.5rem;
  }
}