
$nord-blue-strong: #00aebe;
$nord-blue-medium: #d6edef;
$nord-blue-light: #eef4fa;
$nord-grey-dark: #777;
$nord-grey-light: #d8d8d8;
$nord-white: white;

$layout-max-width: 50rem;

$font-family-regular: 'Roboto', sans-serif; 

$font-size-regular: 1rem;

$font-color-regular: $nord-grey-dark;