
$nord-blue-strong: #00aebe;
$nord-blue-medium: #d6edef;
$nord-blue-light: #eef4fa;
$nord-grey-dark: #777;
$nord-grey-medium: #cbd2d9;
$nord-grey-light: #d8d8d8;
$nord-white: white;

$layout-max-width: 50rem;
$layout-min-width: 35rem;

$font-family-regular: 'Roboto', sans-serif; 

$font-size-regular: 1rem;
$font-size-small: 0.8rem;

$font-color-regular: $nord-grey-dark;
$font-color-light: $nord-grey-medium;